<div class="container">
    <h2>Create Docent</h2>
    
    <div class="form-row" *ngIf="showMsg">
        <div class="alert alert-{{type}} col-md-12" role="alert">
          {{msg}}
        </div>
      </div>

    <form>
        <div class="form-row">
            <div class="col-md-3">
                <label>ID:</label>
                <input type="number" id="ID" name="ID" placeholder="Ingresar el ID"
                class="form-control" [(ngModel)]="docent.ID" readonly>
            </div>
            <div class="col-md-3">
                <label>LastName:</label>
                <input type="text" id="LastName" name="LastName" placeholder="Ingresar el apellido"
                class="form-control" [(ngModel)]="docent.LastName">
            </div>
            <div class="col-md-3">
                <label>FirstMidName:</label>
                <input type="text" id="FirstMidName" name="FirstMidName" placeholder="Ingresar el nombre"
                class="form-control" [(ngModel)]="docent.FirstMidName">
            </div>
            <div class="col-md-3">
                <label>HireDate:</label>
                <input type="text" id="HireDate" name="HireDate" placeholder="Ingresar la fecha"
                class="form-control" [(ngModel)]="docent.HireDate">
            </div>
        </div>
        <br>
        <div class="btn-group" role="group">
            <button class="btn btn-outline-primary btn-sm" (click)="save()">Guardar</button>
            <a class="btn btn-outline-primary btn-sm" [routerLink]="[ '/docent-list' ]">Atras</a>
        </div>
    </form>
</div>
